body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 20%;
}
.logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.nav-items {
    padding: 0 10px;
}
.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    list-style: none;
}
